{% extends "home.html" %}

{% block page %}

<div class="container-fluid">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" method="post">{% csrf_token %}
                <fieldset>
                    <legend>{{ title }}</legend>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                </fieldset>
                {% for field in form %}
                    {% if field.errors %}
                        <div class="control-group error">
                            {{ field }}
                            <span class="help-inline">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    {% else %}
                        <div class="control-group">
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary" >Chirp!</button> <br />
            </form>
        </div>
    </div>

    <h3>Posted Chirps</h3>
    {% if chirps %}
        {% for chirp in chirps %}
            <div class="well well-small">
                <code><a href="#">{{ chirp.user.get_full_name }}</a>: {{ chirp.message }}</code>
                {% if user.is_admin %}
                        <button class="close" title="Delete the toot permanently">                          <a href="{{ chirp.id }}">&times;</a></button>
                {% endif %}
            </div>
        {% endfor %}
    {% else%}
        <div class="alert">
            There are no chirps!
        </div>
    {% endif %}
</div>

{% endblock %}
